.App {
  color:#747474;
  height: 100%;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding-bottom: 0.25rem;
}

.App-intro {
  text-align: center;
  margin: 0;
}

.main{
  transition: opacity .3s ease;
  transform: translate3d(0,0,0);
  padding: 2rem 2rem;
  position: relative;
  z-index: 1;
  opacity: 1;
  min-height: 100%;
}

.main.modalVisible{
  pointer-events: none;
  transition: opacity .3s ease;
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
}

.visual-design-statement{
  text-align: center;
  font-weight: 100;
  margin-bottom: .5rem;
}


.work-statement{
  margin: 0 auto 2rem;
  font-style: italic;
  text-align: center;
}

.work-statement span{
  font-style: normal;
}

.work-statement-preamble{
  margin: 0 auto 2rem;
  font-style: italic;
  text-align: center;
}

button:focus, img:focus, button:active, img:active{
  box-shadow: 0 0 5px 2px rgba(219, 28, 198, .5);
  outline: none; 
  color: #494545
}

a:focus, a:active{
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgba(219, 28, 198, .5);
  outline: none; 
  color: #494545
}

.out-bound-link{
  background-color: #fff;
  border-radius: .5rem;
  border: 1px solid #C4C4C4;
  padding: .75rem 1.5rem;
  margin: 0 .5rem;
  color:#747474;
  font-size: .875rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.out-bound-link .icon-container{
  padding-left: .5rem;
}



/* ====== nav ====== */

.nav{
  display: flex;
  justify-content: center;
  padding: 3.5rem 0 3.5rem;
}

/* ====== /nav ====== */


/* ====== divider ====== */

.divider{
  border-bottom: 1px solid #979797;
  width: 100%;
  height: .5em;
  margin-bottom: 2rem;
}

.divider::before{
  border-top: 1px dashed #979797;
  content: '';
  display: block;
  position: relative;
  top: 0;
}

.divider::after{
  border-bottom: 1px dashed #979797;
  content: '';
  display: block;
  position: relative;
  bottom: -15px;
}

/* ====== /divider ======= */




/* ======SMALL VIEW======= */
@media only screen and (max-width: 550px) and (min-width: 0px) {
  .symbol {
    height: 21rem;
  }
}

