.process-work-wrap {
  transition: all .3s ease;
  margin: 20px;
  padding-bottom: 2.5rem;
  font-size: .9rem
}

.process-work-image-holder{
  margin: 0;
  position: relative;
}

.process-work-image-holder button{
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 0;
}

.process-work-caption{ 
  opacity: 0;
  pointer-events: none;
  transition: all .4s ease;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: rgba(219, 28, 198, 0.7);
  padding: .75rem 0;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.pwc-show{
  opacity: 1;
  
}

.process-work-image-holder img{
  width: 100%;
  filter: grayscale(100%);
  cursor: pointer;
}

.process-work-disclaimer {
  margin: 0 auto 2rem;
  font-style: italic;
  text-align: center;
  font-size: .75rem;
}

.process-work-image-holder img:hover{
  filter: none;
}

.process-work-image-holder img:focus{
  filter: none;
}


/* ======SMALL VIEW======= */
@media only screen and (max-width: 550px) and (min-width: 0px) {
  .process-work-wrap{
      width: calc((100% /1) - 40px);
  }
}

/* ======MEDIUM VIEW======= */
@media only screen and (max-width: 850px) and (min-width: 550px) {
  .process-work-wrap{
      width: calc((100% /2) - 40px);
  }
}

/* ======LARGE VIEW======= */
@media only screen and (min-width: 850px) {
  .process-work-wrap{
      width: calc((100% /3) - 40px);
  }
}

