.App {
  color:#747474;
  padding: 4rem 2rem;
}

.symbol {
  height: 24rem;
  opacity: 0;
  transform: scale(0);
  margin: 0 auto;
  padding-bottom: 2rem;
  display: block;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding-bottom: 0.25rem;
}

.App-intro {
  text-align: center;
  margin: 0;
}

.main{
  transition: all .4s ease;
}

.main.modalVisible{
  filter: blur(10px);
  pointer-events: none;
}



/* ====== nav ====== */

.nav{
  display: flex;
  justify-content: center;
  padding: 3.5rem 0 3.5rem;
}

/* ====== /nav ====== */


/* ====== divider ====== */

.divider{
  border-bottom: 1px solid #979797;
  width: 100%;
  height: .5em;
  margin-bottom: 2rem;
}

.divider::before{
  border-top: 1px dashed #979797;
  content: '';
  display: block;
  position: relative;
  top: 0;
}

.divider::after{
  border-bottom: 1px dashed #979797;
  content: '';
  display: block;
  position: relative;
  bottom: -15px;
}

/* ====== /divider ======= */


