.App {
  text-align: center;
}

.symbol {
  height: 20rem;
  opacity: 0;
}

.animating{
  animation: App-logo-spin 1 10s linear;
}

.App-header {
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% { 
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% { 
    transform: rotate(360deg);
    opacity: 0;
  }
}
